<%- include("./fragments/head") %>

<body class="container-index body">

  <div class="container-titulo-pantalla-principal">
    <h1 class="titulo-smart-wallet">Smart Wallet</h1>
  </div>

  <div class="container-logo-pantalla-principal">
    <img src="/imgs/logo smart wallet.png" alt="logo-smart-wallet" class="logo-pantalla-principal">
    <a href="https://es.vecteezy.com/vectores-gratis/billetera" class="retribucion" target="_blank" rel="noopener noreferrer">Fuente de la imagen: Vecteezy</a>
  </div>

  <a href="/auth/google" class="link-login">
    <div class="container-link-login">
      <div class="container-logo-texto no-seleccionable">
        <span>Iniciá sesión con <span><img src="/imgs/google-logo.png" alt="logo Google" class="logo-google-login"></span>oogle</span>
      </div>
    </div>
  </a>

  <%- include("./fragments/scripts") %>
</body>

</html>