:root {
  --eggplant: #634c5eff;
  --eggplant-2: #94708c;
  --eggplant-3: #7e6077;
  --sage: #d3c8a0ff;
  --emerald: rgb(89, 177, 63);
  --emerald-2: rgb(133, 204, 52);
  --catawba: #562931ff;
  --dark-jungle-green: #0a2723ff;
  --black: #000000ff;
  --royal-blue-dark: #16266bff;
  --marigold: #f1a921ff;
  --red: rgb(255, 0, 0);
  --red-2: rgba(255, 102, 0, 0.856);
  --gray: rgb(126, 126, 126);
  --gray-2: rgb(165, 165, 165);
  --primary-font: "Tiro Gurmukhi", serif;
  --styled-font: "Rouge Script", cursive;
}

/* Loader */
/* From uiverse.io by @e-coders */
@keyframes ldio-4j5ay0xf86g {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ldio-4j5ay0xf86g div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-4j5ay0xf86g linear 1s infinite;
  background: #fe718d;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}

.ldio-4j5ay0xf86g div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
}

.ldio-4j5ay0xf86g div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}

.loadingio-spinner-spinner-977el9wwy2v {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-4j5ay0xf86g {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-4j5ay0xf86g div {
  box-sizing: content-box;
}
/* Fin styles del loader */

*::selection {
  background-color: var(--eggplant);
  color: var(--marigold);
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--eggplant);
}
p {
  margin: 0;
  padding: 0;
}
.body {
  background-color: var(--marigold);
  min-height: calc(100vh - 14vh);
  font-family: var(--primary-font);
  color: var(--royal-blue-dark);
  text-align: center;
}
h3 {
  font-size: 1.8rem !important;
}
h4 {
  font-size: 1.6rem !important;
}
h5 {
  font-size: 1.4rem !important;
}
h6 {
  font-size: 1.2rem !important;
}
/* P치gina de login */
.container-index {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}
.container-elements-body-reSettings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  min-height: 80vh;
}
.container-titulo-pantalla-principal {
  color: var(--eggplant);
}
.titulo-pantalla-principal {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: var(--primary-font);
}

.titulo-smart-wallet,
.brand-bienvenida {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--styled-font);
}

.container-logo-pantalla-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.retribucion {
  width: max-content;
  color: var(--eggplant);
  font-size: 0.8rem;
  width: 300px;
  text-align: right;
}
.retribucion:a {
  cursor: pointer;
}
.logo-pantalla-principal,
.img-wallito {
  height: 40vh;
}

.container-link-login {
  margin: 0 auto;
  width: 250px;
  padding: 10px;
  border: none;
  outline: 2px solid var(--eggplant);
  border-radius: 10px;
}
.container-link-login:hover {
  outline: none;
  background-color: var(--eggplant);
}
.container-link-login:hover > .container-logo-texto > span {
  color: #fff;
  font-weight: initial;
  color: var(--marigold);
}
.link-login {
  text-decoration: none;
}
.container-logo-texto {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--eggplant);
  font-family: var(--primary-font);
  font-weight: bold;
}

.logo-google-login {
  width: 25px;
  height: 25px;
}

/* P치gina de bienvenida */
.body-bienvenida {
  text-align: center;
  font-size: 1.1rem;
  padding: 15px;
}
.saludo-user {
  font-weight: bold;
}
.container-saludo-de-bienvenida p {
  font-size: 1.2rem;
}
.before-begin-msg {
  width: 345px;
  margin: 0 auto;
}
/* Button VAMOS */
/* From uiverse.io by @adamgiebl */
.container-btn-lets-go,
.container-btn-avanzar,
.container-btn-comenzar {
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.btn-lets-go,
.a-btn-avanzar,
.a-btn-comenzar {
  text-decoration: none;
  text-align: center;
  width: max-content;
}
.btn-avanzar-disabled {
  background: var(--gray);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em var(--gray-2);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: initial !important;
}
.btn-avanzar,
.btn-comenzar {
  background: var(--eggplant);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em var(--eggplant);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.btn-avanzar .icon,
.btn-comenzar .icon-comenzar {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--eggplant);
  right: 0.3em;
  transition: all 0.3s;
}
.btn-avanzar-disabled .icon,
.btn-comenzar-disabled .icon-comenzar {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--gray-2);
  right: 0.3em;
  transition: all 0.3s;
}

.btn-avanzar:hover .icon,
.btn-comenzar:hover .icon-comenzar {
  width: calc(100% - 0.6em);
}

.btn-avanzar .icon svg,
.btn-avanzar-disabled .icon svg,
.btn-comenzar .icon svg,
.btn-comenzar-disabled .icon-comenzar svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--eggplant);
}

.btn-avanzar:hover .icon svg,
.btn-comenzar:hover .icon-comenzar svg {
  transform: translateX(0.1em);
}

.btn-avanzar:active .icon,
.btn-comenzar:active .icon-comenzar {
  transform: scale(0.95);
}

/*  */

.container-img-wallito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Settings page */
.presupuesto-de-ejemplo {
  padding: 0 16px !important;
  text-align: left;
}
.presupuesto-de-ejemplo-detalles {
  text-align: left;
  padding: 0 30px !important;
}
.container-ejemplo {
  padding: 16px 0 !important;
}
.titulo-ejemplo {
  padding-bottom: 8px;
}
.container-form-add-cat {
  max-width: 350px;
  margin: 0 auto;
}
.container-title-y-btn-instructivo {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 0 5px;
  margin: 0 auto;
}
.container-msg-errors {
  max-width: 350px;
  margin: 0 auto;
  font-size: 1.2rem;
}
.msgRepartijaDePresupuesto,
.msgPresupuestoSuperado {
  text-align: center !important;
}
.budget-ask {
  font-weight: bold;
  font-size: 1.2rem;
}
.container-add-btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

/* Btn Add Cats */
/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button-2 span,
.btn-instructivo span,
.btn-cerrar-modal-about span {
  color: white;
}
.cssbuttons-io-button-2,
.btn-cerrar-modal-about,
.btn-instructivo {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: var(--eggplant-2);
  background: linear-gradient(0deg, var(--eggplant), var(--eggplant-2));
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--eggplant);
  letter-spacing: 0.05em;
  border-radius: 20em;
}
.btn-instructivo {
  height: 35px;
  display: inline-block;
  color: #fff;
  text-align: center;
}
.cssbuttons-io-button-2 svg,
.btn-cerrar-modal-about svg,
.btn-instructivo svg {
  margin-right: 6px;
}
.cssbuttons-io-button-2:hover,
.btn-cerrar-modal-about:hover,
.btn-instructivo:hover {
  box-shadow: 0 0.5em 1.5em -0.5em var(--eggplant);
}
.cssbuttons-io-button-2:active,
.btn-cerrar-modal-about:active,
.btn-instructivo:active {
  box-shadow: 0 0.3em 1em -0.5em var(--eggplant);
}
/*  */

/* Btns de edici칩n de cat */
.btn-cancelar-cambios-cat span {
  color: white;
}
.btn-cancelar-cambios-cat {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: var(--eggplant-2);
  background: linear-gradient(0deg, var(--eggplant), var(--eggplant-2));
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--eggplant);
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.btn-cancelar-cambios-cat svg {
  margin-right: 6px;
}

.btn-cancelar-cambios-cat:hover {
  box-shadow: 0 0.5em 1.5em -0.5em var(--eggplant);
}

.btn-cancelar-cambios-cat:active {
  box-shadow: 0 0.3em 1em -0.5em var(--eggplant);
}
/*  */

.container-gral-table {
  /* width: 90%; */
  max-width: 600px;
  margin: 0 auto;
}
.titulo-tabla-cat {
  width: 360px;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.table td {
  color: var(--eggplant) !important;
}

.separador-modal {
  margin: 10px;
}
.btn-mini-table {
  cursor: pointer;
}
.hidden {
  display: none;
}
.is-valid {
  outline: 3px solid var(--emerald);
}
.is-invalid {
  outline: 3px solid var(--red);
  animation: shake 300ms;
}
.error {
  color: var(--red);
  animation: shake 300ms;
}
.msgErrorRepartijaDePresupuesto,
.msgPresupuestoSuperado {
  text-align: center;
}
.errorMsgInputName,
.errorMsgInputPerc,
.errorMsgEditName,
.errorMsgEditPerc,
.msgErrorRepartijaDePresupuesto,
.msgPresupuestoSuperado,
.errorMsgIngresoEgreso,
.errorMsgEditConcept {
  color: var(--red);
  text-align: left;
  margin-top: 5px;
  animation: shake 300ms;
}
.container-add-btn {
  z-index: 1;
}
.link-disabled {
  color: gray !important;
  cursor: initial !important;
}
.cssbuttons-io-button-2:disabled {
  background: var(--gray);
  background: linear-gradient(0deg, var(--gray), var(--gray-2));
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--gray);
  letter-spacing: 0.05em;
  border-radius: 20em;
}
.swal-button {
  padding: 7px 19px;
  color: #fff;
  border-radius: 20em;
  background-color: var(--eggplant);
  font-size: 1rem;
  font-family: var(--primary-font);
  border: 1px solid var(--eggplant);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-button--cancel {
  background-color: var(--eggplant) !important;
  font-family: var(--primary-font) !important;
  font-weight: normal !important;
  font-size: 1.1rem !important;
}
.swal-button--cancel:hover {
  background-color: var(--eggplant-2) !important;
  font-family: var(--primary-font) !important;
  font-weight: normal !important;
  font-size: 1.1rem !important;
}
.swal-button--danger {
  background-color: var(--red) !important;
}
.swal-button--danger:hover {
  background-color: var(--red-2) !important;
}
.swal-title {
  color: var(--eggplant);
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
/*  */

/* Pannel */
.container-elements-body-pannel {
  width: 100%;
  height: calc(60vh);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.primera-linea-saludo-pannel {
  font-size: 1.5rem;
}
.segunda-linea-saludo-pannel {
  font-size: 1.2rem;
}
/* From uiverse.io by @adamgiebl */
.btnAddIngreso,
.btnAddEgreso {
  display: flex;
  width: 200px;
  height: 65px;
  align-items: center;
  justify-content: space-around;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  border: none;
  letter-spacing: 0.05em;
  border-radius: 20em;
}
.btnAddIngreso {
  background: var(--emerald);
  background: linear-gradient(0deg, var(--emerald), var(--emerald-2));
  box-shadow: 0 0.7em 1.5em -0.5em var(--emerald);
}
.btnAddEgreso {
  background: var(--red);
  background: linear-gradient(0deg, var(--red), var(--red-2));
  box-shadow: 0 0.7em 1.5em -0.5em var(--red);
}

.btnAddIngreso svg {
  margin-right: 6px;
}

.btnAddIngreso:hover {
  box-shadow: 0 10px 25px 0.5px var(--emerald);
}
.btnAddEgreso:hover {
  box-shadow: 0 10px 25px 0.5px var(--red);
}

.btnAddIngreso:active {
  box-shadow: 0 5px 12px var(--emerald);
}
.btnAddEgreso:active {
  box-shadow: 0 5px 12px var(--red);
}
.container-add-ingreso-pannel,
.container-add-egreso-pannel {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-add-ingreso-pannel a,
.container-add-egreso-pannel a {
  text-decoration: none;
}
.container-add-ingreso-pannel span,
.container-add-egreso-pannel span {
  font-weight: bold;
  color: #fff;
}
/*  */

/* Navbar */
.navbar-custom {
  box-shadow: 0 0 20px 3px var(--eggplant);
}
.link-navbar:active {
  background-color: var(--marigold) !important;
}
.nav-item > a:hover,
.dropdown-item:hover {
  color: var(--eggplant) !important;
}
.nav-item > a,
.dropdown-item {
  color: var(--eggplant-3) !important;
  font-size: 1.1rem;
  font-weight: bold;
}
.logout-option > div {
  display: inline-block;
  margin-right: 10px;
}
.container-data-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
  max-width: 200px;
  margin: 0 auto;
}
.container-data-user p {
  padding: 0;
  margin: 0;
  font-size: 1.7rem;
  font-weight: normal;
  font-family: var(--styled-font);
}
.foto-perfil-user-navbar {
  border-radius: 50%;
  width: 50px;
}
/*  */

/* Ver movimientos del mes */
.current {
  font-size: 1.3rem;
  color: var(--red-2);
}
.selected {
  font-size: 1.5rem;
  color: var(--red);
}
/*  */

/* Ingresos y Egresos del mes */
.body-ingresos-del-mes h3,
.body-egresos-del-mes h3,
.body-settings h3,
.body-form-ingreso-o-egreso h3 {
  margin-top: 25px;
  color: var(--eggplant);
}
.modal-header-edit-egreso {
  display: flex !important;
  flex-direction: column !important;
}
textarea {
  resize: none !important;
  height: 150px !important;
}
.ingresosMonthSelector,
.egresosMonthSelector {
  max-width: 350px;
  margin: 20px auto;
}
.container-selector-order-by {
  display: flex;
  max-width: 350px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  /* justify-content: space-between; */
}
.container-selector-order-by p {
  padding: 0;
  margin: 0;
  text-align: left;
}
.title-order-by {
  width: 50%;
}
.ordenarEgresosDeManera {
  width: 10%;
}
.container-btns-ingreso-o-egreso {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
  justify-content: center;
  gap: 2%;
}

/* Cancel btn */
.cancel-move-btn span {
  color: white;
}
.cancel-move-btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: var(--red-2);
  background: linear-gradient(0deg, var(--red), var(--red-2));
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--red);
  letter-spacing: 0.05em;
  border-radius: 20em;
}
.cancel-move-btn svg {
  margin-right: 6px;
}
.cancel-move-btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em var(--red);
}
.cancel-move-btn:active {
  box-shadow: 0 0.3em 1em -0.5em var(--red);
}

/* Add btn */
.add-move-btn span {
  color: white;
}
.add-move-btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: var(--emerald-2);
  background: linear-gradient(0deg, var(--emerald), var(--emerald-2));
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--emerald);
  letter-spacing: 0.05em;
  border-radius: 20em;
}
.add-move-btn svg {
  margin-right: 6px;
}
.add-move-btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em var(--emerald);
}
.add-move-btn:active {
  box-shadow: 0 0.3em 1em -0.5em var(--emerald);
}
.container-form-new-move {
  max-width: 350px;
  margin: 0 auto;
}
.egresosSelector {
  height: 58px;
}
@media (min-width: 992px) {
  .container-options-mi-cuenta {
    position: absolute !important;
    left: -110px !important;
  }
}

.orderSelector:disabled {
  color: var(--gray-2);
}

/* Clase para evitar selecci칩n de texto */
.no-seleccionable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
