<!DOCTYPE html>
<html lang="es-ES">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- og's Meta -->
  <meta property="og:title" content="Smart Wallet" />
  <meta property="og:description" content="¡Registrá tus ingresos y egresos en las diferentes categorías que establezcas y comenzá a mejorar en tus finanzas!" />
  <meta property="og:url" content="https://smart-wallet-by-ramiro.herokuapp.com/">
  <meta name="image" property="og:image" content="https://res.cloudinary.com/ramiropezzone/image/upload/v1654957017/vista-min-smart-wallet_ajqspu.png">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="600" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Bootstrap -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prata&family=Rouge+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">

  <title>Smart Wallet</title>
</head>