<!-- Modal -->
<div class="modal fade" id="modalInstructivoPanel" tabindex="-1" aria-labelledby="modalInstructivoPanelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInstructivoPanelLabel">Guía panel principal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        La idea de esta aplicación es que sea sencilla y concreta, por lo que en esta pantalla podrás ver solo dos botones, uno para registrar los ingresos y otro para los egresos.
      </div>
      <div class="modal-body">
        En ambos casos es importante registrar cada movimiento <b>día a día</b>, de manera de crearse el hábito de autogestión y poder llevar así un control efectivo de las finanzas.
      </div>
      <div class="modal-body">
        En el apartado "Ingresos" deben registrarse, como su nombre lo indica, todo aquel movimiento de dinero que se genere a favor (como pueden ser salario, sueldo, venta de automotor, venta diaria -en caso de contar con comercio propio-).
      </div>
      <div class="modal-body">
        En el apartado "Egresos" debera registrarse todo movimiento que signifique un egreso del dinero. Debe seleccionarse la categoría correspondiente y el monto. Por ejemplo, si se realizó una compra de alimentos se debería seleccionar la categoría 'Necesidades básicas' -o el nombre que se le haya elegido-, y el monto en cuestión.
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-cerrar-modal-about no-seleccionable" data-bs-dismiss="modal">
          <span>Cerrar</span>
        </button>
      </div>
    </div>
  </div>
</div>