<div class="modal fade" id="modalAbout" tabindex="-1" aria-labelledby="modalAboutLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAboutLabel">Smart Wallet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Esta aplicación fue inspirada por el libro "Secretos de una mente millonaria" de T. Harv Eker, el cual explica cual es (según el autor) la mejor manera de administrar las finanzas proponiendo un cambio de modelos mentales, desafiando los que puedan acarrearse desde muy temprana edad.
      </div>
      <div class="modal-body">
        Se pretende brindar entonces una herramienta complementaria Y GRATUITA como alternativa a las antiguas planillas (tanto físicas como digitales), facilitando lo más posible el registro de movimientos y sus posteriores consultas.
      </div>
      <div class="modal-footer">
        Creado por <a href="https://www.linkedin.com/in/ramiro-c-pezzone-desarrollador-web/" target="_blank" rel="noopener noreferrer">Ramiro</a>
      </div>
      <div class="modal-footer no-seleccionable">
        <div class="container-add-btn">
          <button type="submit" class="btn-cerrar-modal-about" data-bs-dismiss="modal">
            <span>Cerrar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>