<div class="modal fade" id="modalInstructivo" tabindex="-1" aria-labelledby="modalInstructivoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInstructivoLabel">Guía inicial</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        En este apartado se deben establecer las categorías en las que se pretende dividir el presupuesto.
      </div>
      <div class="modal-body">
        Lo recomendable son entre 4 y 5 categorías y se debe repartir entre todas las categorías el 100% del presupuesto.
      </div>
      <div class="container-ejemplo">
        <div class="modal-body presupuesto-de-ejemplo titulo-ejemplo">
          Ejemplo:
        </div>
        <div class="presupuesto-de-ejemplo-detalles">
          Necesidades básicas: 60%
        </div>
        <div class="modal-body presupuesto-de-ejemplo-detalles">
          Educación: 20%
        </div>
        <div class="modal-body presupuesto-de-ejemplo-detalles">
          Viajes: 10%
        </div>
        <div class="modal-body presupuesto-de-ejemplo-detalles">
          Permitidos: 10%
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-add-btn no-seleccionable">
          <button type="submit" class="btn-cerrar-modal-about" data-bs-dismiss="modal">
            <span>Cerrar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>