<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand custom-nav-link" href="/main">
      <img src="/imgs/logo smart wallet.png" alt="logo smart wallet" width="40" height="40" class="logo-navbar no-seleccionable">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link custom-nav-link no-seleccionable" href="/main">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-nav-link no-seleccionable" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ver movimientos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item custom-link-navbar no-seleccionable" href="/ingresos-del-mes">Ingresos del mes</a></li>
            <li><a class="dropdown-item custom-link-navbar no-seleccionable" href="/egresos-del-mes">Egresos del mes</a></li>
          </ul>
        </li>
      </ul>
      <span class="container-mi-cuenta">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle custom-nav-link no-seleccionable" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mi cuenta
              </a>
              <ul class="dropdown-menu container-options-mi-cuenta" aria-labelledby="navbarDropdownMenuLink">
                <div class="container-data-user">
                  <p class="name-in-navbar no-seleccionable"><%= user.nickName %></p>
                  <img src="<%= user.image %>" alt="foto perfil" class="foto-perfil-user-navbar no-seleccionable">
                </div>
                <hr>
                <li><a class="dropdown-item custom-link-navbar no-seleccionable" href="/re-settings">Configurar presupuesto</a></li>
                <li>
                  <a class="dropdown-item logout-option custom-link-navbar no-seleccionable" href="/auth/logout">
                    <div>
                      Logout
                    </div>
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                      </svg>
                    </div>
                  </a>
                </li>
                <hr>
                <li><a type="button" class="dropdown-item custom-link-navbar no-seleccionable" data-bs-toggle="modal" data-bs-target="#modalAbout">Acerca de</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </span>
    </div>
  </div>
</nav>

<%- include("./modal") %>